*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

p {
  letter-spacing: .03em;
  line-height: 25px;
  font-size: 18px;
}

hr {
  margin-top: 0;
}

#header {
  background-image: url("../img/bamboo-top.png");
  height: 800px;
  width: 100%;
  background-size: cover;
}

.tagline {
  color: white;
  position:absolute;
  top: 340px;
  left: 50px;
}

.tagline h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 66px;
  font-weight: normal;
  margin-top: 0;
  text-shadow: 1px 1px 1px white;
}

.tagline h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 30px;
  text-shadow: 1px 1px 1px white;
  width: 60%;
  line-height: 45px;
}

/* Summary Section Content
============================*/

#summary {
  background-image: url("../img/oils.jpg");
  width: 100%;
  height: 600px;
  overflow: auto;
}

#summary h2 {
  margin-top: 0;
  padding-top: 70px;
}

.transparent {
  content: " ";
  z-index: 10;
  display: block;
  height: 600px;
  background: rgba(255,255,255, 0.7);
}

.summaryCenter {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#summary a {
  background-color: #794A86;
  color: white;
  display: block;
  margin-left: 30%;
  margin-right: 30%;
  font-size: 1.2em;
  border: 2px solid #794A86;
  border-radius: 100px;
  margin-top: 50px;
  padding: 10px 15px 10px 15px;
  text-align: center;
  text-decoration: none;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Table
=================*/

#youngLivingOils {
  margin-left: auto;
  margin-right: auto;
}

#table {
  padding-top: 25px;
  width: 100%;
}

#table h1, h3 {
  text-align: center;
}

#table p {
  text-align: center;
  font-size: 12px;
  text-shadow: 1px 1px 1px white;
}

table {
  border-collapse: collapse;
  border: 2px solid lightgrey;
  box-shadow: 2px 3px 2px #E0E0E0;
  overflow: hidden;
}

img {
  max-width: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

tbody tr {
  border-left: 1px solid #E0E0E0;
}

tbody tr td {
  width: 130px;
}

tbody tr th {
  text-shadow: 0 2px 2px white;
}

td, th {
  padding: 5px;
  position: relative;
  outline: 10;
}

.redBrown {
  background-color: #884240;
  height: 30px;
  margin: 5px;
}

.purple {
  background-color: #7d5287;
  height: 30px;
  margin: 5px;
}
.teal {
  background-color: #2ba87e;
  height: 30px;
  margin: 5px;
}
.red {
  background-color: #da2433;
  height: 30px;
  margin: 5px;
}
.orange {
  background-color: #ff8b5f;
  height: 30px;
  margin: 5px;
}
.deepPink {
  background-color: #de3759;
  height: 30px;
  margin: 5px;
}
.green {
  background-color: #68a854;
  height: 30px;
  margin: 5px;
}
.darkRed {
  background-color: #9e333b;
  height: 30px;
  margin: 5px;
}

/* Table hover effects
=============*/

td:hover::after,
thead th:not(:empty):hover::after,
td:focus::after,
thead th:not(:empty):focus::after {
  content: '';
  height: 10000px;
  left: 0;
  position: absolute;
  top: -5000px;
  width: 100%;
  z-index: -1;
}

td:hover::after,
th:hover::after {
  background-color: #E0E0E0;
}

/* Accessories Section with Image Gallery
===================*/

#accessories{
  margin-top: 50px;
  margin-bottom: 0;
  padding-top: 25px;
  padding-bottom: 50px;
  width: 100%;
  background-color: rgba(0, 0,0, 0.1);
}

#accessories h1 {
  text-align: center;
}

#gallery {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  width: 100%;
  padding-left: 150px;
}

.galleryImg {
  float: left;
  max-width: 300px;
  margin: 20px 20px 0px 20px;
  border: 2px solid lightgrey;
  box-shadow: 2px 3px 2px #E0E0E0;
}

@-webkit-keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.hvr-push {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-push:hover, .hvr-push:focus, .hvr-push:active {
  -webkit-animation-name: hvr-push;
  animation-name: hvr-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Footer
===================*/

#footer p {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
